<div class="question-page">
  <div class="question-container">
    <div class="page-top">
      <div class="page-heading">
        <h1>Edit Question</h1>
        <p>Update the question details.</p>
      </div>
    </div>

    <div class="page-card padding-15">
      <%- include('form', {
        question,
        formAction: `/questions/edit/${question._id}?_method=PUT`,
        formMethod: 'PUT',
        submitLabel: 'Update Question',
        cancelUrl:  `/questions/${question._id}`
      }) %>
    </div>
  </div>
</div>
<!-- 
@for(item of items; track: item.id) {
    ​<div>{{item}}</div>
​} -->